/* Header */

/* General */ 
body {
    background: #16202C;
}

.container {
    color: #fff;
    margin-top: 20px auto;
}

/* Add Bookmark Form */
.add-bookmark-form-div {
    margin: 0 auto;
}

/* List of bookmarks */
.bookmarks-form-title {
    text-align: center;
    font-size: 50px;
    color: white;
}

#bookmarks {
    padding: 30px;
}

/* Individual bookmark */
.bookmark-container {
    padding: 12px;
    border-radius: 3px;
}

.bookmark-container:hover {
    background: #36558F;
}

.bookmark-name {
    font-size: 35px;
}

.bookmark-description {
    font-size: 23px;
}

hr {
    color: #253441;
    background-color: #253441;
    height: 3px;
}

a, a:hover {
    text-decoration: none;
    color: #1DA2F1;
}

/* Update bookmark */
.update-bookmark-form-div {
    margin: 0 auto;
}

#update_bookmark {
    margin: auto;
    display: block;
}